<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form" novalidate>
    <div class="input-field">
        <input placeholder="Placeholder" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Course name</label>
        <span class="helper-text" data-error="Enter name"></span>
    </div>
    
    <div class="input-field">
        <input placeholder="Placeholder" name="price" id="price" type="number" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Course price</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>

    <div class="input-field">
        <input placeholder="Placeholder" name="img" id="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter url"></span>
    </div>

    <input name="id" type="hidden" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    
    <button class="btn btn-primary">Save</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{ course.id }}"> 
    <button class="btn red">Delete course</button>
</form>